@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #6415ff;
    --text-color: #243e63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    line-height: 1.5;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
}

/* --------------- General --------------- */
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

.colored {
    color: var(--primary-color) !important;
}

.btn {
    background-color: var(--primary-color);
    color: white !important;
    padding: 10px 24px;
    border: none;
    font-size: 16px;
    border-radius: 24px;
    font-weight: 500;
}

.btn:hover {
    background-color: #4410ac;
}

/* --------------- NAVBAR --------------- */

#landing-page {
    /* min-height: 100vh; */
    padding: 0 24px;
    margin-bottom: 80px;
}

nav {
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 300ms ease;
}

.logo:hover {
    color: var(--primary-color);
}

.nav__links {
    display: flex;
}

.nav__list {
    padding-left: 30px;
}

.nav__link {
    color: var(--text-color);
    font-weight: 500;
}

.link__hover--effect {
    position: relative;
}

.link__hover--effect::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    right: 0;
    left: 0;
    bottom: -4px;
    opacity: 0;
    background-color: var(--primary-color);
    transition: opacity 300ms ease;
}

.link__hover--effect:hover::after {
    opacity: 1;
}

.nav__link:hover {
    color: var(--primary-color);
}

.btn__menu {
    background: transparent;
    border: none;
    font-size: 24px;
    color: var(--text-color);
    margin-right: 8px;
}

.menu__backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: white;
    margin: 24px 16px;
    padding: 32px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.btn__menu--close {
    position: absolute;
    right: 18px;
    top: 16px;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    margin: 8px 0;
}

.menu__link {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
}

.menu__list:last-child {
    margin-top: 16px;
}

.menu__backdrop,
.btn__menu {
    display: none;
}

.menu__backdrop.open-menu {
    display: block;
}

/* --------------- HEADER --------------- */

.header__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.left__section {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__title {
    font-size: 36px;
}

.header__para {
    color: var(--text-color);
    margin: 32px 0;
}

.header__input {
    border: 2px solid lightgray;
    width: 90%;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    transition: all 300ms ease;
}

.header__input:hover {
    border-color: #aeadad;
}

.header__input:enabled {
    border-color: var(--primary-color);
}

.header__input input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    margin-left: 10px;
}

.header__input input::placeholder {
    color: lightgray;
}

.customers__logos {
    opacity: 0.4;
    margin-top: 36px;
}

.trusted__para {
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.right__section {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.header__img {
    max-width: 500px;
}

/* --------------- FEATURES --------------- */

.flex__column {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.section__title {
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 2px;
}

.section__subtitle {
    font-size: 48px;
    color: var(--text-color);
    margin: 18px 0;
}

.section__para {
    color: var(--text-color);
    font-weight: 500;
    max-width: 650px;
    text-align: center;
    letter-spacing: 1px;
}

.services {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    width: calc(100% / 3);
    max-width: 300px;
    display: flex;
    margin: 0 16px;
    padding: 32px 8px;
}

.service__icon {
    flex-shrink: 0;
    color: var(--primary-color);
    border: 1px solid #cab0fcae;
    width: 50px;
    height: 50px;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.service__description {
    margin: 8px 0 0 16px;
}

.service__title {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 600;
}

.service__para {
    color: var(--text-color);
    margin-top: 16px;
    line-height: 2;
    font-weight: 500;
}

/* --------------- FEATURES --------------- */

.steps__row {
    width: 100%;
    display: flex;
}

.steps__img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img img {
    max-width: 500px;
}

.steps__content {
    width: 50%;
}

.step {
    display: flex;
}

.step__number {
    padding: 20px;
    font-size: 32px;
    color: var(--text-color);
    opacity: 0.4;
}

.step__description {
    padding-top: 20px;
    margin-left: 10px;
}

.step__title {
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 10px;
    font-size: 20px;
}

.step__para {
    font-size: 14px;
    max-width: 350px;
    line-height: 2;
    color: gray;
}

/* --------------- PRICING --------------- */

.plans {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.plan {
    position: relative;
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 16px;
    margin-left: 16px;
    padding: 8px 32px 0;
}

.plan-2 {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.plan-2 .duration,
.plan-2 .feature {
    color: #dcdcdc;
}

.plan__top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 8px;
}

.plan-1 .plan__top,
.plan-1 .plan__action button {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan-2 button {
    background: white;
    color: var(--primary-color) !important;
}

.plan-3 .plan__top,
.plan-3 .plan__action button {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__price,
.plan__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 0;
    border-bottom: 2px solid lightgray;
}

.name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.price {
    font-size: 48px;
    margin: 4px 0;
    font-weight: 700;
}

.duration {
    text-transform: uppercase;
    font-weight: 600;
    color: #a0aec0;
}

.feature__for {
    font-size: 20px;
    font-weight: 600;
}

.feature {
    margin-top: 20px;
    color: var(--text-color);
    font-weight: 600;
    opacity: 0.7;
}

.plan__action {
    padding: 32px;
}

.plan__action button {
    border: none;
    padding: 16px 32px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    border-radius: 99px;
}

/* --------------- FAQs --------------- */
.faqs__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.faq {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #edf2f7;
    padding: 16px 32px;
    border-radius: 16px;
    margin-top: 16px;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h2,
.question i {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 600;
}

.answer {
    padding-top: 16px;
    color: var(--text-color);
    display: none;
    opacity: 0;
}

.faq.open .answer {
    display: block;
    opacity: 1;
}

.faq.open .question i {
    transform: rotate(180deg);
}

/* FOOTER */
footer {
    background-color: var(--primary-color);
    padding: 0 24px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    color: white;
    font-size: 22px;
}

.copyright {
    color: #dcdcdc;
    font-weight: 600;
}

.social__media--links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__media--links div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    font-size: 12px;
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease;
}

.social__media--links div:hover {
    background-color: #dcdcdc;
}

@media (max-width: 768px) {
    .nav__links {
        display: none;
    }
    .btn__menu {
        display: flex;
    }
    .header__row {
        flex-direction: column;
        width: 80%;
    }
    .left__section,
    .right__section {
        width: 100%;
        align-items: center;
        padding: 0 32px;
    }
    .header__title {
        font-size: 30px;
        text-align: center;
    }
    .header__para {
        font-size: 16px;
        text-align: center;
    }
    .customers__logos {
        margin-top: 48px;
    }
    .right__section {
        margin-top: 40px;
        justify-content: center;
    }
    #features {
        margin-top: 80px;
    }
    .service {
        width: 50%;
    }
    .steps__row {
        padding: 0 24px;
    }
    .section__title {
        font-size: 16px;
    }
    .section__subtitle {
        font-size: 36px;
    }
    .step__description {
        max-width: 250px;
    }
    .plans {
        flex-direction: column;
        align-items: center;
    }
    .plan {
        width: 50%;
        margin-top: 64px;
    }
    .faqs__container {
        width: 90%;
    }
    .footer__row {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .header__input {
        width: 100%;
        border: none;
        flex-direction: column;
        gap: 16px;
    }
    .header__input input {
        border: 2px solid lightgray;
        width: 100%;
        border-radius: 100px;
        padding: 16px 24px;
    }
    .header__input .btn {
        width: 100%;
        padding: 16px;
        border-radius: 100px;
    }
    #features,
    #steps,
    #pricing,
    #faqs {
        text-align: center;
        padding: 24px;
    }
    .service {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    .service__description {
        width: 100%;
    }
    .steps__row {
        flex-direction: column;
        width: 100%;
    }
    .steps__img,
    .steps__content {
        width: 100%;
    }
    .steps__content {
        margin-top: 40px;
    }
    .step {
        flex-direction: column;
        align-items: center;
    }
    .step__description {
        padding-top: 0px;
    }
    .plan {
        width: 90%;
    }
    .question h2,
    .question i {
        font-size: 16px;
        text-align: left;
    }
    .question h2 {
        width: 80%;
    }
    .footer__row {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}